.home__container {
    background-color: #70A9A1;
    width: 100%;
}

.home__elements {
    width: 1200px;
    margin: auto;
    position: relative;
    top: 60px;
}

.Tittle {
    font-weight: bold;
}

.btn__insert {
    width: 100%;
    margin-bottom: 10px;

    display: flex;
    justify-content: end;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 400px;
}

.table_container td,
th {
    color: black;
}

.btns {
    display: flex;
    gap: 1em;
}

.size__textarea {
    width: 90%;
}