.home__container{
    background-color: white;
    width: 100%;
}

.home__elements{
    width: 1200px;
    margin: auto;
    position: relative;
    top: 60px;
}

.btn__insert{
    width: 100%;
    margin-bottom: 10px;
 
    display: flex;
    justify-content: end;
}

.table__container{
    max-width: 100%;
    margin: auto;
}